body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center; /* Center text content */
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

h1 {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    list-style-type: none;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    margin: auto; /* Center list items horizontally */
}

a {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin: 5px;
}

form {
    max-width: 400px;
    margin: 20px auto; /* Center the form horizontally */
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select, input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

/* Add more styles as needed */
button[disabled] {
    cursor: not-allowed;
}

.popup-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

img {
    display: flex;
    margin: 0 auto;  /* This centers the image horizontally */
    max-width: 10%; /* This ensures the image doesn't exceed its natural size */
    height: auto;    /* This maintains the aspect ratio of the image */
    border-radius: 50%;
}



button {
    background-color: #4ab14e;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin: 5px;


}
button:hover{
    color: #792828;
}




