<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="static\style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <img src="static/logo.jpg" alt="image">

<form method="POST" action="/register">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    
    <label for="city">City:</label>
    <input type="text" id="city" name="city" required>
    
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    
    <label for="contact_number">Contact Number:</label>
    <input type="text" id="contact_number" name="contact_number" required>
    
    <label for="date_of_birth">Date of Birth:</label>
    <input type="date" id="date_of_birth" name="date_of_birth" required>
    
    <label for="gender">Gender:</label>
    <select id="gender" name="gender">
        <option>Male</option>
        <option>Female</option>
        <option>Other</option>
    </select>
    <input type="submit" value="Register">
</form>

</body>
</html>
